@charset "UTF-8";

p{
  font-family: 'ZCOOL QingKe HuangYou','Srisakdi';
}
/*
img{
  z-index: -1;
}
*/

.header{
  width: 100%;
  background-color: #fff;
}

.theme{
  width: 100%;
  background-color: #f2f2f2;
}
.wwcd{
  width: 100%;
  background-color: #74cfae;
}
.l-work{
  width: 100%;
  background-color: #f2f2f2;
}
.skills{
  width: 100%;
  background-color: #4e4e4e;
}
.sns{
  width: 100%;
  background-color: #f2f2f2;
}
.footer{
  width: 100%;
  background-color: #74cfae;
}

.inner{
  width: 1100px;
  margin: auto;
}

/*header*/
.header{
  position:fixed;
  top:0;
  left:0;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}
.fa-bolt{
  color: #4e4e4e;
  margin: 15px 0;
  font-size: 40px;
  float: left;
}
.contact_button{
  font-size: 12px;
  padding: 14px 12px;
  background-color: #74cfae;
  color: #fff;
  text-decoration: none;
  float: right;
  margin: 15px 0;
  transition-duration: all 0.3s ease;

}

.contact_button:hover{
  color: #333;
}

/*theme*/
.theme_inner{
  text-align: center;
  padding: 250px 0;
}

.h1_title{
  color: #74cfae;
  font-size: 90px;
  font-weight: 700px;
}

.h2_phrase_theme{
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

/*wwcd*/
.wwcd_innr{
  font-size: 0;
}

.wwcd_content_left{
  float: left;
  margin-left: 50px;
  padding-top: 50px;

}
.wwcd_content_right{
  float: right;
  color: #fff;
  width: 750px;
  text-align: center;
  padding-top: 80px;
}

.h3{
  font-size: 24px;
}
.phrase_wwcd{
  line-height: 30px;
  font-size: 20px;
  margin-top: 35px
}

/*l-work*/
.h3_phrase_l-work{
  text-align: center;
  padding:60px 0 40px 0;
}

.GlidLayout_img{
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-columns: 300px 300px 300px;
  grid-gap:100px 90px;
}

.l-work_img{
  opacity: 0.7;
  transition-duration: 0.3s ease;

}
.l-work_img:hover{
  opacity: 1;
}

.l-work_bottom_all{
  margin-top: 90px;
}


.phrase_l-work{
  width: 670px;
  color: #4e4e4e;
  font-size: 20px;
  float: left;
  text-align: center;
  margin: 0 90px 70px 90px;
}

.email_button{
  font-size: 12px;
  padding: 14px 20px;
  background-color: #74cfae;
  color: #fff;
  text-decoration: none;
  float: left;
  text-align: center;
  transition-duration: 0.3s ease;

}

.email_button:hover{
  color: #333;
}

/*skills*/
.h3_phrase_skills{
  color: #fff;
  text-align: center;
  padding: 70px 0;
}

.skills_img{
  padding:0 90px;
}
.skills_img:first-child{
  padding-left: 45px;
}
.skills_img:last-child{
  padding-right: 45px;
}
.skills_img_phrase{
  text-align: center;
  color: #fff;
  font-size: 16px;
  padding: 10px 0 100px 0;
}
/*sns*/
.sns_inner{
  text-align: center;
  padding: 200px 0;

}

.sns_block{
  width: 185px;
  display: inline-block;
  font-size: 40px;
  color: #74cfae;
  padding: 20px 0;
  text-align: center;
  transition-duration: all 0.3s ease;

}

.sns_block:hover{
  background-color: #fff;
}

/*footer*/
.footer_phrase{
  text-align: right;
  color: #fff;
  padding: 20px 0 25px 0;
}
