@charset "UTF-8";

.main {
  font-family: "Raleway";
  padding-top: 78px;
}

p {
  font-family: "Lato";
}

.header {
  width: 100%;
  background-color: #fff;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
}

.theme {
  background-color: #f2f2f2;
}

.wwcd {
  background-color: #74cfae;
}

.l-work {
  background-color: #f2f2f2;
}

.skills {
  background-color: #4e4e4e;
}

.sns {
  background-color: #f2f2f2;
}

.footer {
  background-color: #74cfae;
}

.inner {
  margin: auto;
}

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.h1_title {
  color: #74cfae;
  font-size: 90px;
  font-weight: 700;
}

.header_inner {
  padding: 15px 0;
}

.fa-bolt {
  color: #4e4e4e;
  font-size: 40px;
  float: left;
}

.theme_inner {
  text-align: center;
}

.p_phrase_theme {
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

.wwcd_content_right {
  color: #fff;
  text-align: center;
}

.phrase_wwcd {
  line-height: 30px;
  font-size: 20px;
  margin-top: 35px
}

.l-work_inner {
  padding: 60px 0 70px;
}

.GlidLayout_img {
  display: grid;
}

.l-work_img {
  opacity: 0.7;
  transition: 0.3s ease;
}

.l-work_img:hover {
  opacity: 1;
}

.phrase_l-work {
  color: #4e4e4e;
  font-size: 20px;
  text-align: center;
}

.button {
  text-decoration: none;
  transition: all 0.3s ease;
  background-color: #74cfae;
  color: #fff;
  font-weight: bold;
  box-sizing: border-box;
}

.email_button:hover {
  color: #333;
}

.h2_all {
  font-size: 24px;
  text-align: center;
}

.skills_inner {
  padding: 70px 0 100px;
}

.h2_phrase_skills {
  color: #fff;
}

.skills_box {
  box-sizing: border-box;
}

.skills_img_phrase {
  color: #fff;
  font-size: 16px;
  padding-top: 10px;
  text-align: center;
}

.sns_block {
  font-size: 40px;
  color: #74cfae;
  padding: 20px 0;
  text-align: center;
  transition: all 0.3s ease;
}

.sns_block:hover {
  background-color: #fff;
}

/*footer*/
.footer_inner {
  padding: 20px 15px 25px;
}

.footer_phrase {
  text-align: right;
  color: #fff;
}

@media screen and (min-width:1200px) {

  /*　画面サイズが1024pxからはここを読み込む　*/
  .inner {
    width: 1100px;
  }

  .contact_button {
    padding: 14px 12px;
    float: right;
    font-size: 12px;
    background-color: #74cfae;
    padding-top: 15px;
  }

  .contact_button:hover {
    color: #333;
  }

  /*theme*/
  .theme_inner {
    padding: 250px 0;
  }

  /*wwcd*/
  .wwcd_inner {
    font-size: 0;
    padding-top: 50px;
  }

  .wwcd_content_left {
    float: left;
    margin-left: 50px;
  }

  .wwcd_content_right {
    float: right;
    width: 650px;
  }

  /*l-work*/
  .GlidLayout_img {
    grid-template-rows: 300px 300px;
    grid-template-columns: 300px 300px 300px;
    grid-gap: 100px 90px;
    padding: 40px 0 90px 0;
  }

  .l-work_bottom_all {
    display: flex;
  }

  .phrase_l-work {
    width: 580px;
    margin: 0 90px;
  }

  .email_button {
    padding: 14px 20px;
    font-size: 12px;
    background-color: #74cfae;
    box-sizing: border-box;
    height: 40px;
    vertical-align: middle;
    align-items: center;
  }

  /*skills*/
  .skills_box {
    display: flex;
    justify-content: space-between;
    padding: 70px 36px 0 36px;
  }

  /*sns*/
  .sns_inner {
    padding: 200px 15px;
    display: flex;
    justify-content: center;
  }

  .sns_block {
    width: 185px;
  }
}

@media screen and (min-width:768px) and (max-width:1199px) {

  /*　画面サイズが768pxから1024pxまではここを読み込む　*/

  .inner {
    width: 97%;
  }

  .contact_button {
    padding: 14px 12px;
    font-size: 12px;
    float: right;
    padding-top: 15px;
    background-color: #74cfae;
  }

  .contact_button:hover {
    color: #333;
  }

  /*theme*/
  .theme_inner {
    padding: 250px 0;
  }

  /*wwcd*/
  .wwcd_inner {
    padding: 50px 0 25px;
  }

  .wwcd_content_left {
    text-align: center;
  }

  .wwcd_content_right {
    padding-top: 20px;
  }

  /*l-work*/
  .GlidLayout_img {
    padding: 40px 0 80px;
    grid-template-rows: 300px;
    grid-template-columns: 300px;
    justify-content: center;
  }

  .l-work_img:nth-child(3) {
    padding-bottom: 80px;
  }

  .l-work_bottom_all {
    justify-content: center;
  }

  .phrase_l-work {
    line-height: 30px;
  }

  /*
.email_button_phrase {
}*/
  .email_button {
    width: 110px;
    text-align: center;
    display: block;
    margin: 40px auto 0;
    box-sizing: border-box;
    padding: 14px 20px;
    font-size: 12px;
  }

  /*skills*/
  .skills_box {
    text-align: center;
  }

  .skills_boxes {
    padding-bottom: 88px;
  }

  .skills_boxes:first-child {
    padding-top: 30px;
  }

  .skills_boxes:last-child {
    padding-bottom: 0;
  }

  /*sns*/
  .sns_inner {
    padding: 200px 15px;
    display: flex;
    justify-content: center;
  }

  .sns_block {
    width: 185px;
  }
}

@media screen and (max-width:767px) {

  /*　画面サイズが480pxからはここを読み込む　*/

  .inner {
    width: 97%;
  }
  /*共通css*/
  /*header,OLWのbutton共通style*/
  .contact_button {
    font-size: 0;
  }

  /*ハンバーガーメニュー*/
  .hamburger {
    position: relative;
    height: 36px;
    width: 36px;
    display: inline-block;
    box-sizing: border-box;
    background-color: #fff;
    border: 2px solid #444;
    border-radius: 4px;
    float: right;
  }

  .hamburger div {
    position: absolute;
    left: 4px;
    height: 4px;
    width: 24px;
    background-color: #444;
    border-radius: 2px;
    display: inline-block;
    box-sizing: border-box;
    z-index: 2;
  }

  .hamburger div:nth-of-type(1) {
    top: 4px;
  }

  .hamburger div:nth-of-type(2) {
    top: 14px;
  }

  .hamburger div:nth-of-type(3) {
    bottom: 4px;
  }

  /*theme*/
  .theme_inner {
    padding: 160px 0 130px;
  }

  .h1_title {
    font-size: 80px;
  }

  /*wwcd*/
  .wwcd_inner {
    padding: 50px 0 25px;
  }

  .wwcd_content_left {
    text-align: center;
  }

  .wwcd_content_right {
    padding-top: 20px;
  }

  /*l-work*/
  .GlidLayout_img {
    padding: 40px 0 80px;
    grid-template-rows: 300px;
    grid-template-columns: 300px;
    justify-content: center;
  }

  .l-work_img:nth-child(3) {
    padding-bottom: 80px;
  }

  .l-work_bottom_all {
    justify-content: center;
  }

  .phrase_l-work {
    line-height: 30px;
  }

  /*
.email_button_phrase {
}*/
  .email_button {
    width: 110px;
    text-align: center;
    display: block;
    margin: 40px auto 0;
    box-sizing: border-box;
    padding: 14px 20px;
    font-size: 12px;
  }

  /*skills*/
  .skills_box {
    text-align: center;
  }

  .skills_boxes {
    padding-bottom: 88px;
  }

  .skills_boxes:first-child {
    padding-top: 30px;
  }

  .skills_boxes:last-child {
    padding-bottom: 0;
  }

  /*sns*/
  .sns_inner {
    padding: 50px 0;
  }

  .sns_block {
    display: list-item;
    list-style: none;
  }
}
