@charset "UTF-8";
.main{
  font-family: "Raleway";
}

p{
  font-family:"Lato";
}

.header{
  width: 100%;
  background-color: #fff;
  z-index: 1;
}

.theme{
  background-color: #f2f2f2;
}
.wwcd{
  background-color: #74cfae;
}
.l-work{
  background-color: #f2f2f2;
}
.skills{
  background-color: #4e4e4e;
}
.sns{
  background-color: #f2f2f2;
}
.footer{
  background-color: #74cfae;
}

.inner{
  width: 1100px;
  margin: auto;
}

/*header*/
.header{
  position:fixed;
  top:0;
  left:0;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.header_inner{
  padding: 15px 0;
}

.fa-bolt{
  color: #4e4e4e;
  font-size: 40px;
  float: left;
}

/*以下2つのタグのスタイリング判断基準不明、、、そもそも<p><a>なのか<a><p>なのか、、？*/
.contact_button_phrase{
  font-size: 12px;
  float: right;
}

.contact_button{
  padding: 14px 12px;

}

/*header,OLWのbutton共通style*/
.button{
  text-decoration: none;
  transition: all 0.3s ease;
  background-color: #74cfae;
  color: #fff;
  font-weight: bold;
}


.contact_button:hover{
  color: #333;
}

/*theme*/
.theme_inner{
  text-align: center;
  padding: 328px 0 250px 0;
}

.h1_title{
  color: #74cfae;
  font-size: 90px;
  font-weight: 700px;
  font-weight: bold;
}

.p_phrase_theme{
  color: #c0c0c0;
  font-size: 30px;
  margin-top: 20px;
}

/*wwcd*/
.wwcd_innr{
  font-size: 0;
  padding-top: 50px;
}

.wwcd_content_left{
  float: left;
  margin-left: 50px;

}
.wwcd_content_right{
  float: right;
  color: #fff;
  width: 650px;
  text-align: center;
}


.h2_phrase_wwcd{
  font-size: 24px;
}
.phrase_wwcd{
  line-height: 30px;
  font-size: 20px;
  margin-top: 35px
}

/*l-work*/
.l-work_inner{
  padding:60px 0 70px 0;
}

.h3_phrase_l-work{
  font-size: 24px;
  text-align: center;
}

.GlidLayout_img{
  display: grid;
  grid-template-rows: 300px 300px;
  grid-template-columns: 300px 300px 300px;
  grid-gap:100px 90px;
  padding: 40px 0 90px 0;
}

.l-work_img{
  opacity: 0.7;
  transition: 0.3s ease;

}
.l-work_img:hover{
  opacity: 1;
}

.l-work_bottom_all{
  display: flex;
}

.phrase_l-work{
  width: 580px;
  color: #4e4e4e;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  margin: 0 90px;
}

.email_button_phrase{
  font-size: 12px;

}

.email_button{
  padding: 14px 20px;
  margin-top: 20px;

}

.email_button:hover{
  color: #333;
}



/*skills*/
.skills_inner{
  padding: 70px 0 100px 0;
}
.h2_phrase_skills{
  color: #fff;
  text-align: center;
}

.skills_box{
  display: flex;
  justify-content: space-between;
  padding: 70px 36px 0 36px;
  box-sizing: border-box;
}


.skills_img_phrase{
  color: #fff;
  font-size: 16px;
  padding-top:10px;
  text-align: center;
}

/*sns*/
.sns_inner{
  padding: 200px 0;
  display: flex;
  justify-content: center;
}

.sns_block{
  width: 185px;
  font-size: 40px;
  color: #74cfae;
  padding: 20px 0;
  text-align: center;
  transition: all 0.3s ease;

}

.sns_block:hover{
  background-color: #fff;
}

/*footer*/
.footer_phrase{
  text-align: right;
  color: #fff;
  padding: 20px 0 25px 0;
}
